@import "tailwindcss";

* {
  font-family: outfit;

}

.font-Ovo {
  font-family: ovo, sans-serif;

}

.lighthover {
  background-color: #fcf4ff;
}

.darkhover {
  background-color: #2a004a;
}

.darktheme {
  background-color: #11001F;
}

.boxshadowblack {
  box-shadow: 4px 4px 0 #000;
}

.boxshadowwhite {
  box-shadow: 4px 4px 0 #fff;
}